<h1>My Serverless Book Functions - S00199053 Ethan De Guzman</h1>
<div>
  <h2>List of Books:</h2>
  <ul>
    <li *ngFor="let book of MyBooks">{{book.id}} - {{book.title}} - {{book.author}}</li>
  </ul>
</div>


<div>
  <h2>Add Books:</h2>
  <form (ngSubmit) = "addBook()">
    <div class="form-group">
      <label for="title">Book Title: </label>
      <input type="text" class="form-control" placeholder="Enter title"
      id="title" required [(ngModel)]="titleValue" name="title">
    </div>
    <div class="form-group">
      <label for="author">Author Name: </label>
      <input type="text" class="form-control" placeholder="Enter author"
      id="author" required [(ngModel)]="authorValue" name="author">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<div>
  <h2>Delete Books:</h2>
  <li *ngFor="let book of MyBooks">
    <button class="btn" (click)="deleteBook(book.id)">Delete Book</button>
    {{book.id}} - {{book.title}} - {{book.author}}
  </li>
</div>
